@import '~bootstrap/scss/bootstrap';

#pagetitle {
    color: rgb(255, 204, 0);
    background-color: black;
    text-align: center;
}

// #game-board #game-table {
//     margin-left: auto;
//     margin-right: auto;
// }

td {
    padding: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid black; 
    background-color: gold;
}

table {
    align-content: center;
    table-layout: fixed;
    justify-content: center;
}

#game-div {
    width: 100%;
    justify-content: center;
}

// form {
//     align: center;
// }

#playagain {
    display: flex;
    margin-top: 20px;
}

