@import '~bootstrap/scss/bootstrap';

body {
    background-color: rgb(0, 0, 0);
   // animation: blinker 0.005s cubic-bezier(.5, 0, 1, 1) infinite alternate; 
    background-image: url("https://apod.nasa.gov/apod/image/1705/Arp273Main_HubblePestana_3079.jpg"); 
    //background-size: cover;
}

#pagetitle {
    color: rgb(2, 217, 245);
    // background-color: rgb(14, 13, 13);
    text-align: center;
   // font-family: Gugi;
}

#game-board {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 70px;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(43, 4, 4); 
    background-color:rgba(24, 23, 23, 0.913);
   // font-family: Gugi;
    font-size: 45px;
    text-align: center;
    vertical-align: middle;
    color: rgb(252, 234, 34);
    //position: relative;
}

td:hover {
    background-color: rgba(53, 51, 51, 0.749);
}

table {
    //align-content: center;
    table-layout: fixed;
    //justify-content: center;
    text-align: center; 
    vertical-align: middle;
}

@font-face {
    font-family: "Bungee Shade";
    src: url('https://fonts.googleapis.com/css?family=Bungee+Shade');
  }

body {
    font-family: 'Bungee Shade';font-size: 22px;
}

#game-div {
    width: 100%;
    justify-content: center;
}

#forms {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    color: rgb(254, 33, 33);
}

#playagain {
    display: flex;
    margin-top: 20px;
}

input {
    border-radius: 8px;
}
@keyframes blinker { to { opacity: .3; } }

#message {
    font-size: 40px;
    color: rgb(156, 244, 80);
    animation: blinker 3s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
// td {
//     font-size: 150px;
// }

