@import '~bootstrap/scss/bootstrap';

#pagetitle {
    color: rgb(255, 204, 0);
    background-color: black;
    text-align: center;
}

#game-board #game-table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 10px;
}

table {
    align: center;
}

#playagain {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}